<div ng-app="StoreApp">
  <div ng-controller="MainCtrl">
    <section ng-init="tab = 1">
      <ul class="nav nav-tabs">
        <li ng-class="{ active:tabSelected(1) }"> <a ng-click="selectTab(1)"> Account Profile </a> </li>
        <li ng-class="{ active:tabSelected(2) }"> <a ng-click="selectTab(2)"> Receipts </a> </li>
      </ul>
      <!-- tab content panels -->
      <div class="panel panel-default" ng-show="tabSelected(1)">
        <div class='panel-body'>
          <br>
          <div class='row'>
            <div class='col-md-2 text-right'>
              <button id="edit-profile-button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#edit-profile" ng-click="openEditProfileModal(currentStore)">Edit Profile</button>
            </div>
            <div class='col-md-1 text-right'>
              <label>Name</label>
            </div>
            <div class='col-md-4'>
              {{ currentStore.name }}
            </div>
          </div>
          <br>
          <div class='row'>
            <div class='col-md-3 text-right'>
              <label>Email</label>
            </div>
            <div class='col-md-4'>
              {{ currentStore.email }}
            </div>
          </div>
          <br>
          <div class='row'>
            <div class='col-md-2 text-right'>
              <button class='btn btn-sm btn-default' ng-click='resetToken($event)'>Reset token</button>
            </div>
            <div class='col-md-1 text-right'>
              <label>Token</label>
            </div>
            <div class='col-md-3'>
              {{ currentStore.api_token.hex_value }}
            </div>
          </div>
          <br>
        </div>
      </div>
      <div class="panel panel-default" ng-show="tabSelected(2)">
        <div class='panel-body'>
        <br>
        <div class='container'>
          <div class='col-md-3'>
            <h4>Add Receipt</h4>
            <form name="newReceiptForm" ng-submit="newReceiptForm.$valid &&
                  addReceipt(currentStore, $event)" novalidate>
              <div class='form-group'>
                <label for="new-receipt-item">Item</label>
                <input type="text" class="form-control" id="new-receipt-item" ng-model="newReceipt.item" required>
              </div>
              <div class='form-group'>
                <label for="new-receipt-amount">Amount</label>
                <input type="number" class="form-control" id="new-receipt-amount" ng-model="newReceipt.amount" required>
              </div>
              <div class='form-group'>
                <label for="new-receipt-trans">Transaction Number</label>
                <input type="text" class="form-control" id="new-receipt-trans" ng-model="newReceipt.transaction_num" required>
              </div>
              <input type="submit" id="new-receipt-submit" class='btn btn-primary' value="Add Receipt">
              <!-- $valid is a built-in property -->
              <br>
              <div>Valid? newReceiptForm is {{ newReceiptForm.$valid }}</div>
            </form>
          </div>
          <div class='col-md-8'>
            <h4>All Receipts
              <small> (today: {{ todaysReceiptTotal | currency:'$':2 }})</small>
            </h4>
            <table class='table table-striped'>
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Amount</th>
                  <th>Transaction Num.</th>
                  <th>Date</th>
                  <th class='glyph'>Edit</th>
                  <th class='glyph'>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="receipt in currentStore.simple_receipts | orderBy:'created_at':true">
                  <td>{{ receipt.item }}</td>
                  <td>{{ receipt.amount | currency:'$':2 }}</td>
                  <td>{{ receipt.transaction_num }}</td>
                  <td>{{ receipt.created_at | date:'short' }}</td>
                  <td class='glyph'>
                    <a ng-click="openEditReceiptModal(receipt)" data-toggle="modal" data-target="#edit-receipt">
                      <span class='glyphicon glyphicon-pencil'></span>
                    </a>
                  </td>
                  <td class='glyph'>
                    <a ng-click='removeReceipt(receipt)'><span class='glyphicon glyphicon-remove-circle'></span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Edit Receipt Modal -->
    <div class="modal fade" id="edit-receipt" tabindex="-1" role="dialog" aria-labelledby="editLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit Receipt</h4>
          </div>
          <!-- even if the modal were inside the ng-repeat scope,
          still can't pass receipt to updateReceipt() -->
          <form ng-submit="updateReceipt()">
            <div class="modal-body">
              <div class="container-fluid">
                <div class="form-group">
                  <label for="item" class="control-label">Item</label>
                  <input class="form-control" type="text" id="item" ng-model="editReceipt.item" >
                </div>
                <div class="form-group">
                  <label for="amount" class="control-label">Amount</label>
                  <input class="form-control" type="text" id="amount" ng-model="editReceipt.amount" >
                </div>
                <div class="form-group">
                  <label for="trans" class="control-label">Transaction number</label>
                  <input class="form-control" type="text" id="trans" ng-model="editReceipt.transaction_num" >
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Save changes">
            </div>
          </form>

        </div>
      </div>
    </div>  <!-- Edit Receipt modal -->

    <!-- Edit Profile Modal -->
    <div class="modal fade" id="edit-profile" tabindex="-1" role="dialog" aria-labelledby="edit-profileLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit Profile</h4>
          </div>
          <form ng-submit="updateProfile()">
            <div class="modal-body">
              <div class="container-fluid">
                <div class="form-group">
                  <label for="item" class="control-label">Store name</label>
                  <input class="form-control" type="text" id="item" ng-model="editProfile.name" >
                </div>
                <div class="form-group">
                  <label for="amount" class="control-label">Email address</label>
                  <input class="form-control" type="text" id="amount" ng-model="editProfile.email" >
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Save changes">
            </div>
          </form>

        </div>
      </div>
    </div>  <!-- Edit Profile modal -->

  </div>   <!-- ng-controller -->
</div>   <!-- ng-app -->





