<div ng-app="StoreApp">
  <div ng-controller="MainCtrl">
    <section ng-init="tab = 1">
      <ul class="nav nav-tabs">
        <li ng-class="{ active:tabSelected(1) }"> <a ng-click="selectTab(1)"> Account Info </a> </li>
        <li ng-class="{ active:tabSelected(2) }"> <a ng-click="selectTab(2)"> Receipts </a> </li>
        <li ng-class="{ active:tabSelected(3) }"> <a ng-click="selectTab(3)"> Add Receipt </a> </li>
      </ul>
        <!-- tab content panels -->
      <div class="panel panel-default" ng-show="tabSelected(1)">
        <div class='panel-body'>
          <br>
          <div class='row'>
            <div class='col-md-2 text-right'>
              <label>Store name</label>
            </div>
            <div class='col-md-4'>
              {{ currentStore.name }}
            </div>
          </div>
          <br>
          <div class='row'>
            <div class='col-md-2 text-right'>
              <label>Email</label>
            </div>
            <div class='col-md-4'>
              {{ currentStore.email }}
            </div>
          </div>
          <br>
          <div class='row'>
            <div class='col-md-2 text-right'>
              <label>API Token</label>
            </div>
            <div class='col-md-3'>
              {{ currentStore.api_token.hex_value }}
            </div>
            <div class='col-md-1'>
              <button class='btn btn-sm btn-default' ng-click='resetToken($event)'>Reset</button>
            </div>
          </div>
          <br>
        </div>
      </div>
      <div class="panel panel-default" ng-show="tabSelected(2)">
        <div class='panel-body'>
        <br>
          <div class='col-md-10 col-md-offset-1'>
            <table class='table table-striped'>
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Amount</th>
                  <th>Transaction Num.</th>
                  <th>Date</th>
                  <th class='glyph'>Edit</th>
                  <th class='glyph'>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="receipt in currentStore.simple_receipts">
                  <td>{{ receipt.item }}</td>
                  <td>{{ receipt.amount | currency:'$':2 }}</td>
                  <td>{{ receipt.transaction_num }}</td>
                  <td>{{ receipt.created_at | date:'short' }}</td>
                  <td class='glyph'>
                    <a <span class='glyphicon glyphicon-pencil'></span></a>
                  </td>
                  <td class='glyph'>
                    <a ng-click='removeReceipt(receipt)'><span class='glyphicon glyphicon-remove-circle'></span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default" ng-show="tabSelected(3)">
        <div class='panel-body'>
        <br>
          <form name="newReceiptForm"
            ng-submit="newReceiptForm.$valid &&
                       addReceipt(currentStore, $event)"
            novalidate>
            <div class='form-group'>
              <div class='col-md-2 text-right'>
                <label>Item</label>
              </div>
              <input type="text" ng-model="newReceipt.item" required>
              <br>
            </div>
            <div class='form-group'>
              <div class='col-md-2 text-right'>
              <label>Amount</label>
              </div>
              <input type="number" ng-model="newReceipt.amount" required>
              <br>
            </div>
            <div class='form-group'>
              <div class='col-md-2 text-right'>
              <label>Transaction Number</label>
              </div>
              <input type="text" ng-model="newReceipt.transaction_num" required>
            </div>
            <!-- $valid is a built-in property -->
            <div>Valid? newReceiptForm is {{ newReceiptForm.$valid }}</div>
            <div class='col-md-4 text-right'>
              <input id="submit" type="submit" value="Add Receipt"
                class='btn btn-primary'>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>   <!-- ng-controller -->
</div>   <!-- ng-app -->

